/* || General Styles */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}
.center { margin: 0 auto; }
.d-flex { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    align-content: center; 
}
.page-wrap .text-center{
    text-align: center;
}
.page-wrap{
    width: 100%;
    background-color: #ccc;
    padding-bottom: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px;
}
.page-wrap a{
text-decoration: none;
}
.page-wrap section{
    margin-top: 60px;
}
.page-wrap h2{
    font-size: 45px;
    text-decoration: underline;
}
.page-wrap .responsive-img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* || Gradient Styles */
.page .gradient-text{
    font-size: 150px; 
    line-height: 150px;
    text-transform: uppercase;
    font-weight: 700;
    background: #da1b60 linear-gradient(-130deg, #ff8a00 20%, #da1b60 58%, #ff8a00 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* || Paralax Scroll Style */
.page .top{
    width: 100%;
    background: url('https://images.squarespace-cdn.com/content/v1/50631261e4b0e9530e2c53a7/1451720880611-ZB4W8H2V1WGZQS8JN8UZ/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/Candid-Black-and-White-Photography.jpg') no-repeat center;
    height: 500px;
    background-attachment: fixed;
    position: relative;
}
.page .top h3{
    /*background-color: white;*/
    /*color: black;*/
    color: #da1b60;
    font-size: 70px;
    line-height: 100px;
    /*mix-blend-mode: screen;*/
    font-weight: 900;
    position: absolute;
    padding: 25px;
}
.page .middle{
    width: 100%;
    background-color: #ccc;
    height: 250px;
}
.page .middle p{
    font-size: 18px;
    line-height: 22px;
    max-width: 960px;
    /*background: #ccc;*/
    /*width: 275px;*/
}
.page .bottom{
    width: 100%;
    background: url('https://previews.123rf.com/images/carloscastilla/carloscastilla1303/carloscastilla130300017/18586168-3d-image-of-abstract-black-and-white-ballons.jpg')  no-repeat center;
    height:350px;
    background-attachment: fixed;
}
.page .bottom h3{
    font-size: 100px;
    line-height: 100px;
    color: #da1b60;
    font-weight: 900;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

@media (max-width: 480px) {
    .page .gradient-text{
        font-size: 20vw; 
        line-height: 20vw;
    }
}

@media (min-width: 481px) {
    .page .gradient-text{
        font-size: 90px; 
        line-height: 90px;
    }
}

@media (min-width: 768px) {
 
}

@media (min-width: 960px) {
    .page .gradient-text{
        font-size: 150px; 
        line-height: 150px;
    }
}

@media (min-width: 1200px) {
    .page-wrap{
     max-width: 1350px;
    }
}